/* Color definition */
:root {
  --palatte-primary: #2f2d68;
  --palatte-background: #dae1dd;
  --palatte-secondary: #969e96;
  --palatte-natural-secondary: #d89e13;
}

/* General Styling */
html,
body {
  overflow-x: hidden;
  background-color: var(--palatte-background);
}

body::after {
  content: "";
  display: block;
  height: 5rem;
}

hr {
  margin: 0.5rem auto;
  text-align: center;
  border-top: dotted 10px var(--palatte-background);
  opacity: 1;
  width: 5rem;
}

/* Body Content Wrapper */
#body-content {
  position: relative;
  z-index: 1;
  padding: 0rem;
  width: 100vw;
  margin: 0;
  color: #1e1e1e;
}

/* Navbar Styles */
#nav-bar {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  margin: 0;
  box-shadow: none !important;
}

.navbar-nav {
  width: 90%;
  justify-content: space-around;
}

.navbar-toggled-bg {
  background-color: var(--palatte-primary) !important;
}

.navbar-collapse {
  justify-content: space-evenly;
}

.navbar-brand {
  color: var(--palatte-natural-secondary);
}

.navbar-nav .nav-link {
  color: var(--palatte-natural-secondary);
}

html[dir="rtl"] .navbar-toggler {
  margin-left: 0;
}

/* Navbar Styles If Scrolled By */
.navbar.scrolled {
  position: fixed !important;
  top: -101px !important;
  right: 0px !important;
  background-color: var(--palatte-background) !important;
  transition: transform 0.5s, -webkit-transform 0.5s;
  transform: translateY(100px);
}

#contact-us {
  margin: 5px 0;
  background-color: var(--palatte-primary);
  color: var(--palatte-natural-secondary);
}

#contact-us:hover {
  background-color: #ffffff;
  color: #1e1e1e;
}

/* Heading Section */
#heading {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#landing-carousel {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#landing-carousel .carousel-inner,
#landing-carousel .carousel-item {
  width: 100%;
  height: 100%;
}

#landing-carousel .carousel-item {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#landing-carousel .img-fluid {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
  z-index: -1;
}

#landing-carousel .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(150, 158, 150, 0.6);
  z-index: 0;
}

/* Heading Image and Description Styles and Animation*/
#img-desc {
  background-color: rgba(47, 45, 104, 0.8); /* Make background transparent as the overlay handles shading */
  border-radius: 10px;
  padding: 1.5rem;
  position: absolute; /* Change to relative or keep absolute if you want fine-tuned positioning */
  text-align: center;
  max-width: 80vw; /* Re-evaluate these max-widths based on desired text wrapping */
  margin-bottom: 5vh; /* Adjust as needed to position the text in the lower-middle */
  z-index: 1;
}

/* Coloring */
#img-desc h1,
#img-desc h2 {
  color: var(--palatte-natural-secondary);
}

#img-desc p {
  color: var(--palatte-secondary);
}

#img-desc .animated-btn {
  background-color: var(--palatte-natural-secondary);
  color: var(--palatte-background);
}

#img-desc .animated-btn:hover {
  background-color: var(--palatte-background) !important;
  color: var(--palatte-secondary) !important;
}

@media (max-width: 992px) {
  .navbar-nav {
    align-items: center;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  /* Heading */
  #img-desc {
    position: static !important;
    margin-top: 1rem;
    display: block !important;
    text-align: center;
    background-color: rgba(0, 135, 158, 0.7);
    width: 100%;
  }

  #landing-carousel .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #landing-carousel .img-fluid {
    width: 90vw;
    height: auto;
    max-height: 40vh;
    object-fit: cover;
  }
}


/* Blog Posts */
#blog-posts {
  max-width: 80%;
  background-color: var(--palatte-natural-secondary);
  box-shadow: 0px 4px 8px 0px var(--palatte-secondary),
    0px 6px 20px 0px var(--palatte-secondary);
}

#blog-posts h2 {
  color: var(--palatte-secondary);
}

.card {
  max-width: 18rem;
  margin: 1rem 0.5rem;
}

.card h3 {
  color: var(--palatte-primary);
}

.card a {
  background-color: var(--palatte-primary);
  color: var(--palatte-natural-secondary);
}

.card a:hover {
  background-color: white;
  color: #1e1e1e;
  box-shadow: 0px 4px 8px 0px;
}
